.node-type-list{
  display: flex;
  flex-wrap: wrap;
  width: 102%;
  margin-left: -1%;
  .button{ 
    margin: 1%; width: 23%; font-size: 1em; padding: $horizontalSpace/2;
    h2{ margin-bottom: .25em; }
    p{ font-size: .875em;}
  }
}