@font-face {
  font-family: 'icons';
  src:  url('../../icons/icons.eot?hazs');
  src:  url('../../icons/icons.eot?hazs#iefix') format('embedded-opentype'),
    url('../../icons/icons.ttf?hazs') format('truetype'),
    url('../../icons/icons.woff?hazs') format('woff'),
    url('../../icons/icons.svg?hazs#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

$icon-home: "\f015";
$icon-download: "\f019";
$icon-chevron-right: "\f054";
$icon-plus-circle: "\f055";
$icon-check-circle: "\f058";
$icon-info-circle: "\f05a";
$icon-exclamation-circle: "\f06a";
$icon-sign-in: "\f090";
