
@import "../../../demo2/sass/_theme";

*{ box-sizing: border-box; }
h1,h2,h3,h4,h5,h6,p{ margin: 0 0 .75em; }

@import "_action-links";
@import "_add-content";
@import "_admin-list";
@import "_admin-panel";
@import "_apps";
@import "_breadcrumbs";
@import "_form";
@import "_header";
@import "_icons";
@import "_lists";
@import "_messages";
@import "_module-filter";
@import "_normalize";
@import "_tabs";
@import "_table";
@import "_workbench";

body{ background: $bgColor; font-family: $mainFont; }
.description{ font-size: .875em;}
.form-item input.error, .form-item textarea.error, .form-item select.error{ border-color: $errorBorder; }
div.error, .error{ color: $errorText; }

#admin-menu{font-size:14px;}

/* Media Library */
.media-thumbnail{width:auto!important;height:auto!important;}
.media-item .label-wrapper{background:none;position:static;line-height:1em;}

/* IPE Buttons */
div.panels-ipe-pseudobutton-container, div.panels-ipe-pseudobutton-container a, div.panels-ipe-control .form-submit{border-radius:0;background-image:none;background:$mainColor;color:white;}
div.panels-ipe-pseudobutton-container a:hover{background-color:$mainColor;color:white;}
