ul.action-links{
  display: flex; list-style: none; margin: 0 0 $verticalSpace 0; padding: 0;
  li + li{ margin-left: $horizontalSpace; }
  a{ @extend .button; display: block; padding: $horizontalSpace; font-size: 1.5em; }

  a[href]:before{ opacity: .7; margin-right: .3em; font-family: 'icons'; }
  a[href$='/add']:before{ content: $icon-plus-circle; }
  a[href$='/install']:before{ content: $icon-download;  }
  a[href$='/import']:before{ content: $icon-sign-in; }
  //add-menu-block
  
}
