div.messages{ margin: 0 0 $verticalSpace 0; }
div.messages + div.messages{ margin: $verticalSpace*-.5 0 $verticalSpace 0; }

div.messages {
  border: $borderWidth $borderStyle;
}

div.status {
  border-color: $statusBorder;
}
div.status,
.ok {
  color: $statusText;
}
div.status,
table tr.ok {
  background-color: $statusBg;
}

div.warning {
  border-color: $warningBorder;
}
div.warning,
.warning {
  color: $warningText;
}
div.warning,
table tr.warning {
  background-color: $warningBg;
}

div.error {
  border-color: $errorBorder;
}
div.error,
.error {
  color: $errorText;
}
div.error,
table tr.error {
  background-color: $errorBg;
}
div.error p.error {
  color: #333;
}

.region.region-help { 
  position: relative; padding: $horizontalSpace; padding-left: 3.3em; border: $borderWidth $borderStyle $borderColor; margin-bottom: $verticalSpace; border-radius: $borderRadiusContainer;
  &:before{ content: '?'; font-size: 1.5em; width: 1.2em; height: 1.2em; line-height: 1.2em; border-radius: 50%; background: $mainColor; color: $reverseColor; text-align: center; font-weight: bold; display: block; position: absolute; top: $horizontalSpace*.75; left: $horizontalSpace*.75; }
  .content > *:last-child{ margin: 0; }
}