html.js #module-filter-modules{ border: $borderStyle $borderWidth $borderColor; border-left: 0; }
#module-filter-tabs{ border:$borderStyle $borderWidth $borderColor; border-right: 0; }
#module-filter-tabs ul{ border: 0; width: 240px - $borderWidth; }
#module-filter-tabs li:first-child{ border-top: 0; }